Flask==3.1.0
flask-sqlalchemy==3.1.1
Flask-Migrate==4.1.0
pandas==2.2.3
qrcode==8.0
Pillow==11.1.0
openpyxl==3.1.5
reportlab==4.2.5
gunicorn==23.0.0
python-dotenv==1.0.1
FlaskWebGui==1.1.9
Flask-SocketIO==5.5.1
